<!-- flask servers are more senstive with html files, make sure all the attributes are correct or you will recieve constant errors! -->

<!DOCTYPE html>
<html lang="en">
<head>

<!-- fill this part -->
    <title> buddies.com </title> <!-- change the name idk -->
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- mainly coded for computers, fuck phone websites -->
    <!-- to change the style find style sheets in the folder -->


</head>


<body>
<!-- fill this part also -->
    <h1> Buddies.com </h1>
    <div class="website" id="websites">
    </div>

    <div class="post_input">
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title" class="title_input" required />
            <input type="file" name="image" accept="image/*" class="image_button" required />
            <textarea name="description" placeholder="//Type something" class="description_input"> </textarea>

            <button type="submit"> Post </button>
        </form>
    </div>
    <!-- forum container, use the ids to style them in style.css -->

    <div class="postyPostContainer" id="postContainer">
        {% for post in posts %}
        <div class="post">

        <div class="post-header">
            <button type="submit" class="plus" id="plus_id"> + </button>

            <em class="user"> random_buddy:  </em>

            <em class="title"> {{post.title}} </em>

        </div>

            <img src="{{ post.image }}" alt="{{ post.title }}" class="src_image"/>
            <p class="posty_des"> {{ post.description }}</p>
        </div>


        {% endfor %}
    </div>
    <!-- this part is for the forum post that interacts with the py file, would not recommmend to mess with unless you are experinced with these interactions -->

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>

